<div class="ui-g" [class.loading]="loading">
    <div class="ui-g-3">
        <div class="ui-g-2">
            <label>Dates:</label>
        </div>
        <div class="ui-g-10">
            <ul>
                <li *ngFor="let d of marsDates">{{ d.label }}</li>
            </ul>
        </div>
    </div>
    <div class="ui-g-3">
        <div class="ui-g-2">
            <label>Rover:</label>
        </div>
        <div class="ui-g-10">
            <p-dropdown [options]="rovers" [(ngModel)]="rover" placeholder="Select a Rover" (onChange)="initCameras()"></p-dropdown>
        </div>
    </div>
    <div class="ui-g-3">
        <div class="ui-g-2">
            <label>Camera:</label>
        </div>
        <div class="ui-g-10" *ngIf="rover">
            <div *ngFor="let c of cameras">
                <p-radioButton name="cameras" [value]="c.value" [label]="c.label" [(ngModel)]="cameraType"></p-radioButton>
            </div>
        </div>
        <div class="ui-g-10" *ngIf="!rover">
            Choose a Rover
        </div>
    </div>
    <div class="ui-g-3">
        <button pButton type="button" label="Submit" [disabled]="!canSubmit" (click)="submit()"></button>
    </div>
</div>
<div clsss="ui-g" *ngIf="photos.length>0">
    <p-dataGrid [value]="photos" [paginator]="true" [rows]="20">
        <ng-template let-photo pTemplate="item">
            <div style="padding:3px" class="ui-g-12 ui-md-3">
                <p-panel [header]="photo.earth_date" [style]="{'text-align':'center'}">
                    <img [attr.src]="photo.img_src" width="200">
                    <div>
                        <button (click)="download(photo)">Download</button>
                    </div>
                </p-panel>
            </div>
        </ng-template>
    </p-dataGrid>
</div>
<div clsss="ui-g" *ngIf="error.length>0">
    <p>{{ error }}</p>
</div>
