<form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div>
        <label>Dates: </label>
        <mat-list>
            <mat-list-item *ngFor="let d of marsDates">{{ d.label }}</mat-list-item>
        </mat-list>
    </div>
    <div>
        <label>Rover: </label>
        <mat-form-field>
            <mat-select formControlName="rover" placeholder="Select a rover">
                <mat-option *ngFor="let r of rovers" [value]="r.value" (click)="initCameras()">
                    {{ r.label }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <label>Camera: </label>
        <mat-radio-group formControlName="camera">
            <mat-radio-button *ngFor="let c of cameras" [value]="c.value">
                {{ c.label }}
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="button-div">
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || loading">Submit</button>
        <mat-progress-spinner *ngIf="loading" color="primary" mode="indeterminate" value="50"></mat-progress-spinner>
    </div>
</form>
<div class="photos" *ngIf="photos.length>0">
    <mat-card *ngFor="let p of photos">
        <mat-card-header>
            <mat-card-title></mat-card-title>
        </mat-card-header>
        <img mat-card-image [attr.src]="p">
        <mat-card-actions>
            <button mat-button (click)="download(p)">Download</button>
        </mat-card-actions>
    </mat-card>
</div>
